@font-face {
    font-family: "custom";
    src: url("/assets/Righteous,Roboto/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Righteous";
    src: url("/assets/Righteous,Roboto/Righteous/Righteous-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/Righteous,Roboto/Roboto/Roboto-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

p{
    font-family: "custom",sans-serif;
    font-weight: normal;
}

.intro_section{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(assets/homepage_assets/home_page_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: cover;
    justify-content: start;
    -webkit-box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
    -moz-box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
    box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
}

@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.left{
    height: 100%;
    width: 55%;
}

.left > h1{
    animation-name: slideInLeft;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    margin-top: 12vh;
    margin-left: 10vh;
    display: flex;
    font-size: 300px;
    font-family: "Righteous";
}

.left > p{
    animation-name: slideInLeft;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 12vh;
}

.right{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25vh;
    height: 100%;
    width: 45%;
}

.right > h1{
    font-style: italic;
    font-size: 100px;
}

#abtBtn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    margin: auto;
    height: 50px;
    width: 160px;
    margin-top: 80px;
    margin-left: 12vh;
    background-color: #28282B;
    color: #FAF0E5;
    font-weight: bold;
    font-family: "Roboto";
    transition:  background-color 0.3s ease-in-out, color 0.3 ease-in-out;
}

#abtBtn:hover{
    background-color: #FAF0E5;
    color: #28282B;
}


.portfolio_section {
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
}

.portfolio_section > div > h1{
    animation-name: fadeIn;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "Righteous", sans-serif;
}

.portfolio_containers{
    animation-name: fadeIn;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 90vh;
    justify-content: center;
}

.portfolio_box{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 6%;
    height: 25vh;
    width: 45vh;
    -webkit-box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
    -moz-box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
    box-shadow: 0px 7px 12px -4px rgba(92,92,92,1);
    transition: transform 1000ms;
    z-index: 1;
    position: relative;
}

.portfolio_box:hover,
.button:focus-visible{
    transform: translateY(-2rem);
    transition: transform 250ms;
}

.img_container{
    height: 65%;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    overflow: hidden;
}

.img_container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio_label{
    width: 100%;
    height: 35%;
    background-color: #28282B ;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    color: #FAF0E5;
    overflow: hidden;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.portfolio_label:hover{
    background-color: #FAF0E5;
    color: #28282B;
}

.portfolio_label > *{
    font-family: "custom",sans-serif;
}

.portfolio_label > h3{
    margin-left: 30px;
    font-size: 0.6vw;
}

.portfolio_label > p{
    font-weight: lighter;
    margin-left: 30px;
    font-size: 0.5vw;
    margin-top: 0.5vh;
}

.portfolio_label > h2{
    font-size: 0.8vw;
    margin-left: 23px;
    margin-bottom: 5px;
    margin-top: 15px;
}

html{
    scroll-behavior: smooth;
}

