* {
    margin: 0;
    padding: 0;
}

p{
    font-family: "Roboto",sans-serif;
}

.intro_section{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/homepage_assets/home_page_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: cover;
    align-content: center;
    justify-content: center;
}

.intro_section > div{
    width: 100%;
    align-self: center;
    align-content: center;
}

.intro_section > div > h1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 120px;
    font-family: "Righteous";
}

.intro_section > div > p{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 50px;
}

#abtBtn {
    margin: auto;
    display: block;
    height: 35px;
    width: 100px;
}


.portfolio_section { 
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
}

.portfolio_section > div > h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "Righteous", sans-serif;
}

.portfolio_containers{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 90vh;
    justify-content: center;
}

.portfolio_box{
    margin: 30px;
    display: flex;
    border: solid, 3px, black;
    border-radius: 5%;
    height: 25vh;
    width: 45vh;
}

